body {
  font-family: PT mono, monospace;
}
.form {
  position: relative;
  left: +75%;
}

.City-name {
  padding-top: 10px;
  padding-bottom: 0;
}

.Current-conditions-phrase {
  font-size: 25px;
  font-weight: bolder;
}

.daily-forecast-title {
  font-size: 25px;
  font-weight: bolder;
}

.Detailed-conditions {
  position: relative;
  top: -10px;
}
.Current-Conditions-Value {
  font-size: 65px;
  font-weight: bolder;
  position: relative;
  left: -30px;
}
.Current-Conditions-icon {
  font-size: 50px;
  position: relative;
  left: -5px;
}
.units {
  position: relative;
  top: -35px;
  left: -35px;
}
a {
  text-decoration: none;
}

.Today-forecast {
  position: relative;
  left: +70px;
  top: +35px;
}
h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 34px;
  line-height: 48px;
}

.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}
